/* Users list page */
.user-preview {
  background-color: var(--secondary-color);
  padding: 4px 8px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  height: 28px;
  border-radius: 8px;
}

.analytics-wrapper {
  width: 100%;
  text-align: center;
}

.analytics-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 240px));
  column-gap: 18px;
  row-gap: 12px;
  justify-content: center;
}

/* User details bar */
.user-details-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.user-details-box {
  display: inline-block;
  width: 80%;
  min-width: 165px;
  border: solid 1px var(--primary-color-accent);
  border-radius: 8px;
}

.user-details-box-header {
  background-color: var(--primary-color-light);
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.user-details-box-body {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-lighter);
  border-radius: 0 0 8px 8px;
}

/* Graphs box style */
.analytics-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.analytics-box {
  display: inline-block;
  margin: 8px;
  width: 80%;
  height: 400px;
  background-color: var(--primary-color-lighter);
  border: solid 1px var(--primary-color-accent);
  border-radius: 8px;
}

.analytics-box-header {
  background-color: var(--primary-color-light);
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

/* Date picker style  */
.date-picker-container {
  display: none;
  border: 1px solid var(--primary-color-lighter);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.date-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.date-picker-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.date-picker-input input {
  height: 32px;
  border: none;
  padding: 0 0 0 4px;
  margin: 4px 8px 0 8px;
  border-radius: 4px;
  color: white;
  background-color: var(--primary-color-lighter);
}

.submit-date-btn {
  margin: 0 0 0 8px;
}

.predefined-intervals {
  margin: 12px 0;
}

.predefined-interval-btn.active {
  background-color: var(--green-aquamarine);
  color: var(--primary-color-light);
}

.bar-button {
  height: 100%;
  padding: 4px;
  background-color: var(--secondary-color);
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  border: 0.5px solid var(--secondary-color-light);
  color: white;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 -2px;
}

.bar-button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.bar-button:last-child {
  border-radius: 0px 8px 8px 0px;
}

.bar-button:hover {
  background-color: #483ccc;
}

/* Geotagging container */

#chart-geotagged {
  height: 342px;
}

/* Small screens / laptops */
@media screen and (min-width: 1024px) {
  .analytics-box-container {
    flex-direction: row;
  }

  .analytics-box {
    width: 45%;
  }

  .user-details-box {
    width: 10%;
  }

  .date-picker {
    flex-direction: row;
    align-items: flex-end;
  }

  .date-picker-input {
    margin-bottom: 0;
  }
}
