body {
    color: white;
    padding-bottom: 2vh;
}

.urls {
    display: block;
    width: 10vw;
    height: 4vh;
    vertical-align: center;
    background: #4E9CAF;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2vw;
}

.gallery-dropdown {
    background-color: #212121;
    color: white;
    border: 1px solid #2a2a2a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}

.active, .gallery-dropdown:hover {
  background-color: #2a2a2a;
}

.gallery-dropdown-content {
    background-color: #212121;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.rendered-stories {
    width: 10vw;
}
