.content {
    text-align: center;
    padding: 300px;
}

body {
    background-color: #171717;
    color: white;
}

img {
}

#title {
    font-size: 100px;
    font-style: bold;
}

.headerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.custom_btn {
    margin-top: 5vh;
    font-size: 5vh;
    margin-bottom: 5vh;
}

.custom_input {
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

.settings_title {
    padding-top: 10vh; 
    font-size: 10vh
}

.container_box {
    background-color: #1c1c1c;
    margin-top: 4vh;
    padding-bottom: 2vh;
    margin-bottom: 4vh;
}


.logs{
    background-color: #1c1c1c;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 2vh;
}

.lastScrapedImages {
    height: 30vh;
    margin-bottom: 1vh;

}

#mode_dropdown {
    height: 5vh;
    margin-bottom: 1vh;
}