.content {
    text-align: center;
    padding: 300px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a0a0a;
    color: white;
}

#title {
    font-size: 100px;
    font-style: bold;
}


#logs {
    background-color: #363636;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.headerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.custom_btn {
    margin-top: 5vh;
    font-size: 5vh;
    margin-bottom: 5vh;
}

.custom_input {
    font-size: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;

}


