<!DOCTYPE html>
<html>
<head>
    <title>Insta scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    {% block header %}
    {% endblock %}
</head>
    <body>

        <!-- NAVBAR -->
        <nav>
            <a href="/"><img class="logo" src="/static/images/logo.png" alt=""></a>
            <ul>
                <li>
                    <a href="/"><img class="menu-icon {{ 'selected-menu-icon' if active_page == 'index' }}" src="/static/images/home_icon.svg" alt=""></a> 
                </li>
                <li>
                    <a href="/gallery"><img class="menu-icon {{ 'selected-menu-icon' if active_page == 'gallery' }}" src="/static/images/gallery_icon.svg" alt=""></a>
                </li>
                <li>
                    <a href="/settings"><img class="menu-icon {{ 'selected-menu-icon' if active_page == 'settings' }}" src="/static/images/settings_icon.svg" alt=""></a>
                </li>
            </ul>
        </nav>
        <!-- END OF NAVBAR -->

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
