<!DOCTYPE html>
<html>
<head>
    <title>Insta scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    {% block header %}
    {% endblock %}
</head>
    <body>

        <!-- NAVBAR -->
        <nav>
            <a href="/"><img class="logo" src="/static/images/logo.png" alt=""></a>
            <ul>
                <li>
                    <a href="/"><img src="/static/images/home_icon.png" alt=""></a> 
                </li>
                <li>
                    <a href="/gallery"><img src="/static/images/gallery_icon.png" alt=""></a>
                </li>
                <li>
                    <a href="/settings"><img src="/static/images/settings_icon.png" alt=""></a>
                </li>
            </ul>
        </nav>
        <!-- END OF NAVBAR -->

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        
    <script>
        function setPanel(panel) {
            if (panel == "logs") {
                document.getElementById("index-logs").style.display = "block";
                document.getElementById("index-advanced").style.display = "none";
                document.getElementById("index-images").style.display = "none";
            }   else if (panel == "advanced") {
                document.getElementById("index-logs").style.display = "none";
                document.getElementById("index-images").style.display = "none";
                document.getElementById("index-advanced").style.display = "block";
            }   else if (panel == "images") {
                document.getElementById("index-logs").style.display = "none";
                document.getElementById("index-advanced").style.display = "none";
                document.getElementById("index-images").style.display = "block";
            }
        }
    </script>

    </body>
</html>
