{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery_style.css') }}">
{% endblock %}

{% block content %}
    {% for item in rendered_gallery %}
        {{ item }}
    {% endfor %}


<script>
    var coll = document.getElementsByClassName("gallery-dropdown");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

</script>
{% endblock %}