{% extends 'base.html' %}

{% block content %}
    <div class="gallery-container">
        <ul>
            {% for item in rendered_items %}
                {% if item['type'] == 'folder' %}
                <li>
                    <a href={{ item['url'] }}>
                        <div class="gallery-folders">
                            {{ item['name'] }}
                        </div>  
                    </a>  
                </li>
                {% else %} {# Raw data already rendered python side #}
                <li>{{ item }}</li>
                {% endif %}
                
            {% endfor %}
        </ul>
    </div>
{% endblock %}
