<html>
    <head>
        <title>Instagram Scraper</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href={{url_for("index")}}>Instagram-stories</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href={{url_for("index")}}>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("settings")}}>Settings</a>
                    </li>
                </ul>
            </div>
        </nav>
        <container class="content">
        <img class="headerImage" src="/static/images/index_header.png">

        <form action="/" method="post">
            <h2>How many people do you want to scrape?</h2>
            <h6>Insert the number of people to scrape and the Mode</h6><br>
            <input type="text" name ="amountToScrape" class="custom_input">
            <select id="mode_dropdown" name="mode_dropdown" class="btn btn-success">
                <option value="all">All (media and metadata)</option>
                <option value="media">Only media</option>
                <option value="metadata">Only metadata</option>
            </select><br>
            <button name="scrapeBtn" type="submit" class="btn btn-warning custom_btn"> Start Scraping!</button>
        </form>
        
        <form method="GET">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3">
                    <h4>Total images scraped</h4>
                    <h5 class="count_i">{{count_i}}</h5>
                </div>
                <div class="col-sm-3">
                    <h4>Total videos scraped</h4>
                    <h5 class="count_v">{{count_v}}</h5>
                </div>
            </div>
        </form>
        <div>
            {% for image in images %}
            <img src="{{ image }}" class="lastScrapedImages"/>
            {% endfor %}
        </div>

        <div class="logs">
            <h4>Last Scraping Logs:</h4>
            {% for log_line_element in log_line %}
                <li>{{ log_line_element }} </li>
            {% endfor %}
        </div>
        </container>
    </body>
</html>