{% extends 'base.html' %} {% block content %}

<form action="/login/" method="POST">
    <div class="settings-login-container">
        <p>If it's the first time you use this tool, log in.</p>
        <div class="settings-login-box">
            <h2>Please enter your Session ID</h2>
            <label for="session_id">Session ID</label><input type="text" name="session_id" id="session_id">
            <button class="btn" type="submit" id="submitBtn">LOG IN</button>
        </div>

    </div>
</form>

{% endblock %}