{% set active_page = 'logs' %}
{% extends 'base.html' %} 

{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/logs.css') }}"
/>
<div class="container">  
    <p class="breadcrumb">Logs</p>
    <p class="pagination-container" id="pagination"></p>    
    <div class="content">
        <div class="logs-field" id="logs"></div>    
    </div>  
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}
