{% set active_page = 'settings' %}
{% extends 'base.html' %} {% block content %}
    <div class="settings-box" id="settings">
        <ul>
            <li>
                <h2>Settings</h2>
            </li>

            <li id="login-field">
                <p>If it's the first time you use this tool, log in.</p>
                <h2>Please enter your Session ID</h2>
                <label for="session-id">Session ID</label>
                <input id="session-id" type="text" name="session-id">
            </li>

            <li>
                <label for="folder-path">Download folder path:</label>
                <input id="folder-path" type="text" name="folder-path">
            </li>

            <li>
                <label for="loop-delay-seconds">Delay between loop cycles (insert time in seconds):</label>
                <input type="number" id="loop-delay-seconds" name="loop-delay-seconds" min="1">
            </li>

            <li>
                <label for="loop-variation-percentage">Variation of loop cycles delay (in percentage):</label>
                <input type="number" id="loop-variation-percentage" name="loop-variation-percentage" min="1" max="100">
            </li>

            <li>
                <label for="extra-ids">Extra nicknames/IDS to scrape</label><br>
                <textarea name="extra-ids" id="extra-ids"></textarea>
            </li>
            <li>
                <p id="disk-usage"></p>
            </li>
            <li>
                <ul>
                    <li>
                        <button id="submitBtn" class="btn sub-btn">UPDATE SETTINGS</button>
                    </li>
    
                    <li>
                        <button id="logoutBtn" class="btn sub-btn logout-btn">LOG OUT</button>
                    </li>
    
                    <li>
                        <button id="deleteMediaBtn" class="btn sub-btn delete-btn">DELETE ALL MEDIA</button>
                    </li>
                </ul>
            </li>
            <li id="status-bar">
            </li>
        </ul>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}