<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Instagram-Stories || Settings</title>
    </head>
    <body >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href={{url_for("index")}}>Instagram-stories</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for("index")}}>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href={{url_for("settings")}}>Settings <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container container_box">
            <p class="settings_title text-center">SETTINGS</p>
            <h4 class="text-center" style="margin-bottom: 5vh">There are the settings, you can dsiplay and choose the path for the "download" folder and the path to "token.txt"</h4>
            <form action="/settings" method="post">
                <h6 class="text-danger">DOWNLOAD FOLDER PATH: </h6> <p>{{folder_path}}</p>
                <h6 style="padding-left: 5vh">Change the download folder name: </h6>
                <input type="text" name ="folder_path" style="margin-left: 5vh"><br><br>
                
                <h6 class="text-danger">COOKIE FILE PATH: </h6> <p>{{cookie_path}}</p>
                <h6 style="padding-left: 5vh">Change the cookie file path: </h6>
                <input type="text" name ="cookie_path" style="margin-left: 5vh"><br>
                <button type="submit" id="submitBtn" class="btn btn-warning" style="margin-top: 5vh; margin-left: 5vh">Click here to update settings</button>
            </form>
        </div>
    </body>
</html>